.navbar{
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.navLinks {
    align-items: center;
    margin-right: 30vw;
    list-style: none;
    display: flex;
    gap: 40px;
}

.navLinksEnd {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 40px;
}

/* navbar.module.css */

/* Media query pour les écrans de petite taille (par exemple, les smartphones) */
@media only screen and (max-width: 768px) {
    .navLinks,
    .navLinksEnd {
      display: none; /* Masquer les liens principaux et les liens de fin */
    }
  
    .navbar {
      justify-content: space-between; /* Ajouter une marge entre les éléments de la navbar */
    }
  
    .mobileMenu {
      display: flex; /* Afficher le menu mobile */
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  
    .menuIcon {
      display: block; /* Afficher l'icône du menu */
      font-size: 24px;
      cursor: pointer;
    }
  
    .menuItems {
      position: absolute;
      align-content: center;
      width: 85vw;
      top: 90px; /* Ajuster la position verticale du menu déroulant */
      right: 5%; /* Ajuster la position horizontale du menu déroulant */
      background-color: rgb(59, 48, 84); 
      border-radius: 15px;
      padding: 10px;
      display: none;
      z-index: 1;
    }
  
    .menuItems.active {
      display: block; /* Afficher le menu déroulant lorsque le bouton est cliqué */
    }

    .menuItems >ul>li{
        margin: 27px auto;
    }

    .menuItems >ul>li>a {
        color: #ffffffd1;
    }

    .menuItems>hr{
        max-width: 80vw;
        opacity: 0.2;
    }


  }

  @media only screen and (min-width: 769px) {
    .mobileMenu {
      display: none;
    }
  }
  