@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global.css */

body {
  color: hsl(257, 7%, 63%);
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  margin-left: 5%;
  margin-right: 5%;

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-size: 1.2rem;
  font-weight: bold;
}

ul{
  list-style-type: none;
}

.gray{
  color:hsl(0, 0%, 75%);
}

.grayish-violet{
  color: hsl(257, 7%, 63%);
}

.very-dack-Violet{
  color:hsl(260, 8%, 14%);
}
.very-dark-Blue{
 color: hsl(255, 11%, 22%);
}

.primary-cyan{
  color: hsl(180, 66%, 49%);
}

.primary-dark-violet{
  color: hsl(257, 27%, 26%);
}

.secondary-red{
  color: hsl(0, 87%, 67%);
}

.btn-cyan-raduis-50{
  background-color: hsl(180, 66%, 49%);
  color: #ffffffd1;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-cyan-raduis-15{
  background-color: hsl(180, 66%, 49%);
  color: hsl(0, 0%, 75%);
  padding: 5px 10px;
  display: flex;
  border-radius: 15px;
}

.max-widht{
  width:100%;
}